<div class="cheese-container">
    <%= image_tag @cheese.image_url, alt: @cheese.name %>

  <div class="cheese-info">
    <h1 class="cheese-name"><%= @cheese.name %></h1>
    <button class="btn pair-button">Pair</button>

    <div class="cheese-description">
      <h2>Description</h2>
      <p><%= @cheese.description %></p>
    </div>

  </div>
</div>

<% if user_signed_in? %>
  <div class="favorite-icon">
    <%= link_to toggle_favorite_cheese_path(@cheese), method: :post, remote: true do %>
      <i class=" <%= @cheese.favorited_by?(current_user) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
    <% end %>
  </div>
<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> to add cheese to your favorites.</p>
<% end %>

<p class="link-two" style="text-align: center;">
  <%= link_to 'Back to Cheeses', cheeses_path %>
</p>
