<h2 class="favorite-heading">Favorite Wines</h2>
<div class="scrolling-wrapper">
  <% @favorite_wines.each do |favorite| %>
    <% wine = favorite.favoritable %>
    <%= render 'wines/wine_card', wine: wine %>
  <% end %>
</div>

<h2 class="favorite-heading">Favorite Cheeses</h2>
<div class="scrolling-wrapper">
  <% @favorite_cheeses.each do |favorite| %>
    <% cheese = favorite.favoritable %>
    <%= render 'cheeses/cheese_card', cheese: cheese %>
  <% end %>
</div>

<h2 class="favorite-heading">Favorite Pairings</h2>

<% @favorite_pairings.each do |favorite| %>
  <% pairing = favorite.favoritable %>
  <% wine = Wine.find_by(id: pairing.wine_id) %>
  <% cheese = Cheese.find_by(id: pairing.cheese_id) %>
  <% if wine && cheese %>
    <p class="link">
      <%= link_to wine.name, wine %> & <%= link_to cheese.name, cheese %>
    </p>
  <% end %>
<% end %>

<p class="link-two">
<%= link_to 'Edit Favorites', edit_favorites_path %> </p>
