<div class="user-profile">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "profile-picture" %>
    <% end %>
    <h1><%= @user.username %></h1>
    <p><strong>Email:</strong> <%= @user.email %></p>
        <%# <%= link_to 'Back to Home', root_path, class: 'home-link' %>
</div>

    <div class="profile-links">
        <ul>
            <li><%= link_to 'My Favorites', favorites_path %></li>
            <li><%= link_to "My Pairings", pairings_path %></li>
            <li><%= link_to "My Reviews", my_reviews_path %></li>
             <li><%= link_to "My Settings" %></li>
             <li><%= link_to "Contact Us" %></li>
            <li>
                <%= link_to 'Edit', edit_user_registration_path, class: 'logout-btn' %>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'edit-profile-link' %>
            </li>

        </ul>
    </div>
