<nav class="navbar-weese">
  <div class="container-nav">
    <%= link_to root_path, class: "navbar-brand-logo" do %>
      <% if controller_name == 'cheeses' && (action_name == 'index' || action_name == 'show') %>
        <%= image_tag 'cheese_logo.png', alt: 'Cheese Logo' %>
      <% elsif controller_name == 'wines' && (action_name == 'index' || action_name == 'show') %>
        <%= image_tag 'wine_logo.png', alt: 'Wine Logo' %>
      <% else %>
        <%= image_tag 'pairing_logo.png', alt: 'Pairing Logo' %>
      <% end %>
    <% end %>
    <!-- Add other navbar items here -->
  </div>
</nav>

     <!-- Search Bar -->
    <%# <div class="d-flex flex-grow-1 mx-4">
      <%= form_with(url: search_path, local: true, method: :get, class: "input-group") do %>
       <%# <%= search_field_tag :query, params[:query], placeholder: "Search by cheese, wine, country or region", aria_label: "Search", class: "form-control" %>
        <%# <%= button_tag type: 'submit', class: 'btn btn-outline-primary' do %>
         <%# Search
       <% end %>
     <%# <% end %>
    <%# </div> %>
