<div class="pairings-container1">
  <h1>Pairing History</h1>
  <div class="pairings-grid">
    <% @pairings.each do |pairing| %>
      <div class="pairing-card1">
        <img src="<%= pairing.cheese.image_url %>" alt="Cheese Image" class="cheese-img">
        <img src="<%= pairing.wine.image_url %>" alt="Wine Image" class="wine-img">
        <h4 class="card-title1"><%= pairing.wine.name %> with <%= pairing.cheese.name %> </h4>
        <div class="rating-stars">
          <% pairing.reviews.average(:rating).to_i.times do %>
            <i class="fas fa-star"></i>
          <% end %>
        </div>
        <p class="link-pairing-details">
          <%= link_to "Pairing Details", pairing, class: 'pairing-details-btn' %>
        </p>
      </div>
    <% end %>
  </div>
    <p class="to-my-reviews">
    <%= link_to 'My Reviews', my_reviews_path(@user), class: 'my-reviews-btn' %>
  </p>
</div>
