
<div class="pairings-container">
  <h1> Create Pairings</h1>
    <div class="pairing-card mt-5">
      <div class="card-body mx-auto">
        <%= simple_form_for @pairing, url: pairings_path, method: :post do |f| %>
        <div class="field">
          <%= f.label :wine_id, "Select Wine" %>
          <%= f.collection_select :wine_id, @wines, :id, :name %>
        </div>
        <br>
        <div class="field">
          <%= f.label :cheese_id, "Select Cheese" %>
          <%= f.collection_select :cheese_id, @cheeses, :id, :name %>
        </div>
        <br>
        <%= f.submit "Create Pairing" %>
        <% end %>
      </div>
    </div>
    <p class="link-two">
      <%= link_to ' Back to My Pairings', my_pairings_path(@user) %> <p>
  </div>
