<div class="icons-container">
  <%= link_to pairings_path, class: "back-arrow-pairing-details" do %>
    <%= icon('fa-solid', 'arrow-left') %>
  <% end %>

  <% if user_signed_in? %>
    <div class="favorite-icon1">
      <%= link_to toggle_favorite_pairing_path(@pairing), method: :post, remote: true, class: "hearticon" do %>
        <i class="<%= @pairing.favorited_by?(current_user) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
      <% end %>
    </div>
  <% else %>
    <%= link_to 'sign in', new_user_session_path, class: "sign-in-link" %>
  <% end %>
</div>


<div class="content-container">
  <div class="card col-md-6 mb-4">
    <div class="pairing-details-header">
      <%= @pairing.wine.name %> with <%= @pairing.cheese.name %>
    </div>
    <div class="card-body mb-1">
      <div class="topbodypairing" style="background-image: url(<%= @pairing.wine.image_url %>);">
        <div class="pairing-content-container">
          <h5><strong>Wine: <%= @pairing.wine.name %></strong></h5>
          <dl>
            <dd><strong>Family:</strong> <%= @pairing.wine.family %></dd>
            <dd><strong>Variety:</strong> <%= @pairing.wine.variety %></dd>
            <dd><strong>Country:</strong> <%= @pairing.wine.country %></dd>
            <dd><strong>Year:</strong> <%= @pairing.wine.year %></dd>
            <dd><strong>Description:</strong> <%= @pairing.wine.description %></dd>
          </dl>
        </div>
      </div>
      <div class="divider"></div>
      <div class="bottombodypairing" style="background-image: url(<%= @pairing.cheese.image_url %>);">
        <div class="pairing-content-container">
          <h5><strong>Cheese: <%= @pairing.cheese.name %></strong></h5>
          <dl>
            <dd><strong>Country:</strong> <%= @pairing.cheese.country %></dd>
            <dd><strong>Milk:</strong> <%= @pairing.cheese.milk %></dd>
            <dd><strong>Softness:</strong> <%= @pairing.cheese.softness %></dd>
            <dd><strong>Description:</strong> <%= @pairing.cheese.description %></dd>
          </dl>
        </div>
      </div>
<br>

</div>

  <div class="review-form">

    <%= simple_form_for([@pairing, @review], data: { controller: "controller-characters" }) do |f| %>
      <div class="field-container">
        <h2>Reviews</h2>
        <div class="col-md-6 mb-4">
      <% @reviews.each do |review| %>
        <div class="d-inline-flex">
         <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>

      <p><%= review.content %></p>
      <% end %>
    </div>
        <%= f.input :content,
                    as: :text,
                    input_html: {
                      'data-controller-characters-target': 'textarea',
                      'data-action': 'input->controller-characters#update',
                      maxlength: 400,
                      placeholder: 'Write your review...*'
                    },
                    label_html: { class: 'form-label' },
                    wrapper: false %>
        <div id="character-count" data-controller-characters-target="count">
          400 characters remaining
        </div>
      </div>
      <div class="field-container rating">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your Pairing", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %>
      </div>
      <div class="actions">
        <%= f.button :submit, 'Submit Review', class: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>
  </div>
  </div>
