
<div class="pairings-container">
  <h1>Pairing Details</h1>
    <div class="card col-md-6 mb-4">
      <div class="card-header card-title text-center"> <%= @pairing.wine.name  %> with <%= @pairing.cheese.name %></div>
        <div class="card-body">
          <h5><strong>Wine: <%= @pairing.wine.name %></strong></h5>
            <dl>
                <dd>Family: <%= @pairing.wine.family %></dd>
                <dd>Variety: <%= @pairing.wine.variety %></dd>
                <dd>Country: <%= @pairing.wine.country %></dd>
                <dd> Year: <%= @pairing.wine.year %></dd>
                <dd> Description: <%= @pairing.wine.description %></dd>
            </dl>
          <h5><strong>Cheese: <%= @pairing.cheese.name %></strong></h5>
            <dl>
                <dd>Country: <%= @pairing.cheese.country %></dd>
                <dd>Milk: <%= @pairing.cheese.milk %></dd>
                <dd>Description: <%= @pairing.cheese.description %></dd>
            </dl>
        </div>
        <div class="card-footer text-center">
           <p class="link-two">
            <%= link_to 'Rate Pairing', new_pairing_review_path(@pairing) %> </p>
        </div>
      </div>
  <p class="link-two"> <%= link_to ' Back to My Pairings', my_pairings_path(@user) %> <p>

        <h3> Rating: <%= @average_rating.round(1) %> </h3>
          <div class="col-md-6 mb-4">
            <% @reviews.each do |review| %>
              <div class="d-inline-flex">
                <% review.rating.times do %>
                  <i class="fas fa-star" ></i>
                <% end %>
              </div>
              <p> <%= review.content %> </p>
            <% end %>
          </div>
  </div>





<% if user_signed_in? %>
  <div class="favorite-icon">
    <%= link_to toggle_favorite_pairing_path(@pairing), method: :post, remote: true do %>
      <i class=" <%= @pairing.favorited_by?(current_user) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
    <% end %>
  </div>
<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> to add pairings to your favorites.</p>
<% end %>
