<h1>Pairing Details</h1>


<p><strong>Wine:</strong> <%= @pairing.wine.name %><%= @pairing.wine.family %><%= @pairing.wine.variety %><%= @pairing.wine.country %><%= @pairing.wine.year %><%= @pairing.wine.description %></p>
<p><strong>Cheese:</strong> <%= @pairing.cheese.name %><%= @pairing.cheese.country %><%= @pairing.cheese.milk %><%= @pairing.cheese.description %></p>



<p>Find me in app/views/pairings/show.html.erb</p>
