<div class="pairings-container">
  <h1>Pairing Details</h1>
  <div class="card col-md-6 mb-4">
    <div class="card-header card-title text-center"> <%= @pairing.wine.name  %> with <%= @pairing.cheese.name %></div>
    <div class="card-body">
      <div class="topbodypairing" style="background-image: url(<%= @pairing.wine.image_url %>);">
        <div class="pairing-content-container">
          <h5><strong>Wine: <%= @pairing.wine.name %></strong></h5>
          <dl>
            <dd><strong>Family:</strong> <%= @pairing.wine.family %></dd>
            <dd><strong>Variety:</strong> <%= @pairing.wine.variety %></dd>
            <dd><strong>Country:</strong> <%= @pairing.wine.country %></dd>
            <dd><strong>Year:</strong> <%= @pairing.wine.year %></dd>
            <dd><strong>Description:</strong> <%= @pairing.wine.description %></dd>
          </dl>
        </div>
      </div>
      <div class="divider"></div>
      <div class="bottombodypairing" style="background-image: url(<%= @pairing.cheese.image_url %>);">
        <div class="pairing-content-container">
          <h5><strong>Cheese: <%= @pairing.cheese.name %></strong></h5>
          <dl>
            <dd><strong>Country:</strong> <%= @pairing.cheese.country %></dd>
            <dd><strong>Milk:</strong> <%= @pairing.cheese.milk %></dd>
            <dd><strong>Softness:</strong> <%= @pairing.cheese.softness %></dd>
            <dd><strong>Description:</strong> <%= @pairing.cheese.description %></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <p class="rate-pairing-details">
        <%= link_to 'Rate Pairing', new_pairing_review_path(@pairing) %> </p>
    </div>
  </div>
  <p class="back-pairing-details"> <%= link_to ' Back to My Pairings', my_pairings_path(@user) %> <p>
  <h3> Rating: <%= @average_rating.round(1) %> </h3>
  <div class="col-md-6 mb-4">
    <% @reviews.each do |review| %>
      <div class="d-inline-flex">
        <% review.rating.times do %>
          <i class="fas fa-star" ></i>
        <% end %>
      </div>
      <p> <%= review.content %> </p>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div class="favorite-icon">
    <%= link_to toggle_favorite_pairing_path(@pairing), method: :post, remote: true do %>
      <i class=" <%= @pairing.favorited_by?(current_user) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
    <% end %>
  </div>
<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> to add pairings to your favorites.</p>
<% end %>
