<%= link_to pairings_path, class: "back-arrow" do %>
  <%= icon('fa-solid', 'arrow-left') %>
<% end %>

<div class="review-container">
  <div class="pairing-info">
    <h2>Your pairing:<br> <%= @pairing.cheese.name %> paired with <%= @pairing.wine.name %></h2>
  </div>
  <div class="review-form">
    <%= simple_form_for([@pairing, @review], data: { controller: "controller-characters" }) do |f| %>
      <div class="field-container">
        <%= f.input :content,
                    as: :text,
                    input_html: {
                      'data-controller-characters-target': 'textarea',
                      'data-action': 'input->controller-characters#update',
                      maxlength: 400,
                      placeholder: 'Write your review...*'
                    },
                    label_html: { class: 'form-label' },
                    wrapper: false %>
        <div id="character-count" data-controller-characters-target="count">
          400 characters remaining
        </div>
      </div>
      <div class="field-container rating">
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your Pairing", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %>
      </div>
      <div class="actions">
        <%= f.button :submit, 'Submit Review', class: 'submit-button' %>
      </div>
    <% end %>
  </div>
</div>
