<%= link_to wines_path, class: "back-arrow" do %>
  <%= icon('fa-solid', 'arrow-left') %>
<% end %>

<div class="wines-container">
    <%= image_tag @wine.image_url, alt: @wine.name %>

  <div class="wine-info">
    <h1 class="wine-name"><%= @wine.name %></h1>
      <%= button_to 'Pair', pair_and_redirect_path(prompt: @wine.name), class: 'btn pair-button' %>

    <div class="wine-description">
      <h2>Description</h2>
      <p><%= @wine.description %></p>
    </div>

  </div>
</div>
<% if user_signed_in? %>
  <div class="favorite-icon">
    <%= link_to toggle_favorite_wine_path(@wine), method: :post, remote: true do %>
      <i class=" <%= @wine.favorited_by?(current_user) ? 'fas fa-heart' : 'far fa-heart' %>"></i>
    <% end %>
  </div>
<% else %>

<p class="center-text-show">Please <%= link_to 'sign in', new_user_session_path %> to add wines to your favorites.</p><% end %>

